/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light background */
    color: #333; /* Dark text color */

    overflow: hidden; /* Hides scrollbars */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Hide scrollbar */

}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white; /* White card background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


h1, h2, h3 {
    color: #8DB7F5; /* Bootstrap's primary blue */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button Styles */
button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Link Styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], form input[type="date"], form input[type="checkbox"], form select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-check-label{
    margin-bottom: 20px;
}
input[type="checkbox"] {
    width: auto;
}

/* Miscellaneous */
.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* Random Message Section */
#random-message-details {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f9fa; /* Light background for list items */
}
.list-group-item:hover {
    background-color: #e2e6ea; /* Darker background on hover */
}
.sent-message {
    color: #007bff; /* Color for sent messages */
}
.received-message {
    color: black; /* Color for received messages */
}

#messagesContainer {
    display: none; /* Hide the messages by default */
}